<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciube.glass.coke">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/GlassTheme">

        <!-- Entry point: voice trigger "start a round of golf" -->
        <activity
            android:name="com.ciube.glass.coke.MainActivity"
            android:label="@string/app_name"
            android:icon="@android:drawable/ic_menu_compass"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <!-- Immersion activity: scrollable list of golf utilities -->
        <activity
            android:name="com.ciube.glass.coke.GolfMenuActivity"
            android:label="@string/app_name"
            android:exported="false" />

    </application>
</manifest>
